.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainDiv {
  border-style: solid;
  border-width: medium;
  border-color: black;
  height: 40em;
  width: 40em;
  margin: 0 auto 0 auto;
  margin-top: 3em;
  background-color: #F0B487;
  border-radius: 0.5em;
}

.innerDiv {
  background-color: #264B39;
  height: 35em;
  width: 35em;
  margin: 0 auto 0 auto;
  margin-top: 2.5em;
  color: white;
  padding-top: 0.01em;
}

.choosePlayers {
  color: white;
  margin-top: 10em;
}

.onePlayer:hover {
  border-style: dashed;
  border-width: medium;
  border-color: white;
  border-radius: 0.5em;
  padding: 0.25em 0.25em;
}

.twoPlayers:hover {
  border-style: dashed;
  border-width: medium;
  border-color: white;
  border-radius: 0.5em;
  padding: 0.25em 0.25em;
}

.onePdiv {
  width: 80%;
  margin: 0 auto 0 auto;
}

.twoPdiv {
  width: 80%;
  margin: 0 auto 0 auto;
}

.playerDivs {
  margin-top: 2em;
}

.x:hover {
  border-style: dashed;
  border-width: medium;
  border-color: white;
  border-radius: 0.5em;
  padding: 0.25em 0.25em;
}

.o:hover {
  border-style: dashed;
  border-width: medium;
  border-color: white;
  border-radius: 0.5em;
  padding: 0.25em 0.25em;
}

.xdiv {
  width: 3em;
  margin-left: 40%;
  float: left;
}

.odiv {
  width: 3em;
  float: left;
  margin-left: 1em;
}

.playerDivs {
  margin-top: 2em;
}

.grid {
  border-style: solid;
  border-width: medium;
  border-color: white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 4.5em;
}

.gridDiv {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.gridInnerDiv {
  background-color: #264B39;
  height: 35em;
  width: 35em;
  margin: 0 auto 0 auto;
  margin-top: 2.5em;
  color: white;
  padding-top: 0.01em;
}

.gridMainDiv {
  border-style: solid;
  border-width: medium;
  border-color: black;
  height: 40em;
  width: 40em;
  margin: 0 auto 0 auto;
  margin-top: 3em;
  background-color: #F0B487;
  border-radius: 0.5em;
  /* padding-top: 0.01em; */
}

.p1Banner {
  display:block;
  float:left;
  margin-left: 5em;
  padding-top: 0.5em;
}

.computerBanner {
  display:block;
  float:left;
  margin-left: 5em;
  padding-top: 0.5em;
}

.resetBanner {
  display:block;
  float:right;
  margin-right: 5em;
  padding-top: 0.5em;
}

.p1BannerActive {
  background-color: blue;
}

.computerBannerActive {
  background-color: blue;
}
